$product-hero-box-shadow: 0px 0px 3.61px 0.39px rgba(0, 0, 0, 0.25);


//Typography Overrides
body {
	font-size: 14px;
}
h1,
h2 {
	font-size: 24px;
}
h3,h4,h5 {
	font-size: 18px;
}
//Hacks
.hidden {
	display: none !important;
}

//Header Modifications
.navbar {
	border-radius: 0;
}
.container-fluid {
	line-height: 53px;
}
.navbar-right {
	float: right;
}
//Settings Drop down Menu
.fui-gear {
	color: #fff;
	cursor: pointer;
}

.dropdown-menu {
	position:absolute;
	list-style: none;
	border-radius: 0;
	top: 44px;
	right: 30px;
	padding: 20px 0;
}

.dropdown-menu-item {
	margin-left: 0;
	line-height: 14px * 1.48;
	width: 100%;	
}

.dropdown-menu-item-link {
	padding: 15px;
	display: block;	
}

//Content

.content {
	margin-top:54px;
}

//Panel Styles
.panel {
	box-shadow: $product-hero-box-shadow;
	padding-bottom: 50px;
	min-height: 200px;
	position: relative;
}
.panel-heading h5 {
	margin: 0;
}
.panel-cta {
	position:absolute;
	bottom: 15px;
	width: 90%;
}