doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/flat-ui.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src="/js/app.js")
